@font-face{
	font-family: 'productsans';
	src: url("../font/ProductSansRegular.ttf") format('truetype');
	src: url("../font/ProductSansRegular.woff") format('woff');
	font-style: normal;
}

@font-face{
	font-family: 'productsans';
	src: url("../font/ProductSansBold.ttf");
	font-style: bold;
}

.niceGreenText{
	color: rgba(34, 187, 136, 0.92);
}

.niceGreenBG{
	background-color: rgba(67, 243, 183, .92);
}

body{
	font-family: 'productsans', Arial, Helvetica, sans-serif;
	font-style: normal;
}

.headerProps{
	width: 100%; position: fixed; top: 0px; background-color: white; z-index: 99;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);-moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
}




/* .shadowg {width: 80%;height: 100;background: white;margin: auto;position: relative;}
.shadowg:after {content: '';display: block;width: 80%;height: 100px;box-shadow: 0 2px 120px grey,0 2px 120px rgba(0,0,0,.65);position: absolute;bottom: 0;left: 10%;z-index: -1;} */
.headershadow{-webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);-moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);}
.currentpage{color:black; font-weight: bold;}
/* h2{
	text-align:center;
	padding: 20px;
  } */

  .striked {
	font-size: 1em;
	line-height: 1em;
	position: relative;
  }
  .striked::after {
	border-bottom: 0.125em solid rgb(129, 129, 129);
	content: "";
	left: 0;
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	right: 0;
	top: 50%;
  }

  svg{width:30%;}

 /* SLIDER */
 
  .tech-slideshow {
	height: 200px;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
	height: 200px;
	width: 2526px;
	background: url(https://i.ibb.co/yRL2MSq/collage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
	animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
	opacity: 0;
	transition: opacity 0.5s ease-out;
	background-position: 0 -200px;
	animation: moveSlideshow 15s linear infinite;
  }

  
  @keyframes moveSlideshow {
	100% { 
	  transform: translateX(-66.6666%);  
	}
  }


